.contacts{
    margin-left: auto;
}
.contacts__list {
    display: flex;
}
.contacts__list .contacts__item + .contacts__item{
    margin-left: 50px;
}
.contacts__link {
    color: $main-color;

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover{
        color: $brand-color;
    }
}
.contacts__mail-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    height: 12px;
    width: 16px;
    margin-right: 10px;
    fill: $main-color;

    .contacts__link:hover &{
        fill: $brand-color;}
}

.contacts__telefon-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    height: 16px;
    width: 10px;
    margin-right: 10px;
    fill: $main-color;

    .contacts__link:hover &{
        fill: $brand-color;}
}
