.logo {
    color: $brand-color;

    font-family: Raleway, sant-serif;
    font-weight: 700px;
    font-size: 26px;
    line-height: 1,19;

    .footer & {
        display: block;
        margin-bottom: 20px;
    }
}
.logo-element{
    color: $foot-head-color;

    .footer & {
        color: $white-color;
    }
}