//.section.work {
 //   padding-top: 0;
//}
.work-list {
display: flex;
}
.work-item {
    position: relative;
    width: calc(( 100% - 60px )/3); 
    
    & :nth-child(3n)
    {
        margin-right: 30px;
    }
}

.work-description{
    position: absolute;
    bottom: 0;
    left:0;
    width: 370px;
    height: 70px;

    background-color: rgba(47, 48, 58, 0.8);

}
.work-category{
    margin-top: 27px;

    text-align: center;
    font-weight: 700;
    line-height: 0,853;
    text-transform: uppercase;
    color: $white-color;


}
