
.section{
    padding-top: 94px;
    padding-bottom: 94px;

    
    .team & {
        background-color: $button-color;
    }
}

.container {
    margin: 0 auto;
    width: 1200px;
    padding: 0 15px;  

    .footer & {
        display: flex;
    }
}
